/* Main CSS
-------------------------------------------------- */
:root {
  --white: #fff;
  --black: #000;
  --color-100: #2677a9;
  --color-200: #2b9b6a;
  --color-300: #e54e24;
  --color-400: #d7c926;
  --color-500: #1d855c;
  --bk-grade-100: #eaeaea;
  --bk-grade-150: #d6d6d6;
  --bk-grade-200: #c1c1c1;
  --bk-grade-250: #adadad;
  --bk-grade-300: #999999;
  --bk-grade-350: #848484;
  --bk-grade-400: #707070;
  --bk-grade-450: #5b5b5b;
  --bk-grade-500: #474747;
  --bk-grade-550: #333333;
  --bk-grade-600: #2d2d2d;
  --bk-grade-650: #282828;
  --bk-grade-700: #232323;
  --bk-grade-750: #1e1e1e;
  --bk-grade-800: #191919;
  --bk-grade-850: #141414;
  --bk-grade-900: #0f0f0f;
  --bk-grade-950: #0a0a0a;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.eot");
  src: url("../fonts/Poppins-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Light.woff2") format("woff2"), url("../fonts/Poppins-Light.woff") format("woff"), url("../fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.eot");
  src: url("../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Bold.woff2") format("woff2"), url("../fonts/Poppins-Bold.woff") format("woff"), url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Regular.woff2") format("woff2"), url("../fonts/Poppins-Regular.woff") format("woff"), url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.eot");
  src: url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Poppins-Medium.woff2") format("woff2"), url("../fonts/Poppins-Medium.woff") format("woff"), url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-style: normal;
  font-family: "Poppins";
  font-size: 1rem;
}

a,
button {
  transition: 0.2s ease-out;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:focus,
button:focus {
  outline: none !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

::selection {
  color: var(--white);
  background: var(--color-100);
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-100) var(--color-200);
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--color-100);
  border-radius: 20px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(38, 119, 169, 0.4);
}

.form-control:focus {
  box-shadow: none;
}

.return-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--color-100);
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  transform: rotate(45deg);
  transition: 0.3s linear;
  z-index: 10;
}

.return-top span {
  display: block;
  transform: rotate(-45deg);
}

.return-top span img {
  position: relative;
  width: 15px;
  animation: upBounce 2s infinite;
}

.return-top:hover span img {
  top: 5px;
}

.btn-shine {
  position: relative;
  overflow: hidden;
}

.btn-shine:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: -100%;
  width: 50%;
  height: 100%;
  background: linear-gradient(to right, rgba(208, 242, 255, 0) 0%, rgba(208, 242, 255, 0.3) 100%);
  transform: skewX(-25deg);
  z-index: 2;
}

.btn-shine:hover:before {
  animation: btn-shineAnim 0.75s;
}

.mx-oig {
  margin-left: -2.25rem;
  margin-right: -2.25rem;
}

.px-oig {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.txt-bold {
  font-weight: 500;
}

.navbar-main {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 1.5rem 1rem 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  z-index: 1030;
}

.navbar-main::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2px;
  background: white;
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e54825', endColorstr='#ff9900', GradientType=1 );
}

.navbar-main .logo {
  width: 113px;
  margin-bottom: 0.5rem;
  transition: 0.2s ease-out;
}

.navbar-main .logo img {
  width: 100%;
}

.navbar-main .dropdown-menu {
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px;
}

.navbar-main.navbar-fixed {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 1030;
}

.navbar-main.navbar-fixed .logo {
  width: 90px;
}

.navbar-main.navbar-fixed .main-nav {
  margin-top: 1.5rem;
}

.main-nav {
  margin-top: 3rem;
  margin-left: auto;
}

.main-nav .nav-item .nav-link {
  color: var(--white) !important;
  font-size: 1rem;
  font-weight: 500;
  /*padding: 0.5rem 1rem;*/
      padding-left: 5rem;
  text-transform: uppercase;
}

.main-nav .nav-item .nav-link .nav-block {
  position: relative;
  display: inline-block;
}

.main-nav .nav-item .nav-link .nav-block::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.5rem;
  height: 4px;
  background-color: #ff9900;
  opacity: 0;
  transition: 0.2s ease-out;
}

.main-nav .nav-item .nav-link.active, .main-nav .nav-item .nav-link:hover {
  color: #ff9900 !important;
}

.main-nav .nav-item .nav-link.active .nav-block::after, .main-nav .nav-item .nav-link:hover .nav-block::after {
  opacity: 1;
}

.main-nav .nav-item.active .nav-link {
  background-color: transparent !important;
}

.main-nav .dropdown-menu {
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  min-width: 17rem;

}

.main-nav .dropdown-menu .dropdown-item {
  display: block;
  color: var(--bk-grade-700);
}

.main-nav .dropdown-menu .dropdown-item:hover {
  color: var(--white);
  background-color: var(--color-100);
}

.main-nav .dropdown-toggle::after {
  content: "\f107" !important;
  font-family: "FontAwesome";
  font-size: 0.75rem;
  margin-left: 0.255em;
  vertical-align: 0;
  border-top: 0 solid;
  border-right: 0 solid transparent;
  border-bottom: 0;
  border-left: 0 solid transparent;
}




.banner-sec {
  position: relative;
}

.banner-sec::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  background-image: url(../images/pattern.png);
}

.banner-cover {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.banner-cover::before, .banner-cover::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
}

.banner-cover::before {
  top: 0;
  height: 20%;
  background: rgba(0, 0, 0, 0.75);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.75)), color-stop(100%, rgba(0, 0, 0, 0)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.banner-cover::after {
  height: 20%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.75)));
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.banner-cover .carousel .carousel-inner .carousel-item img,
.banner-cover .carousel .carousel-inner .carousel-item video {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.connect-sec {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.connect-us {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-bottom: 2rem;
}

.connect-us li {
  margin-bottom: 1rem;
}

.connect-us li a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  font-size: 1.5rem;
  width: 60px;
  height: 60px;
  background-color: var(--color-500);
  border-radius: 50%;
}

.connect-us li a:hover {
  background-color: var(--color-300);
  animation: btnPulseORG 1s infinite;
}

.about-sec {
  position: relative;
  padding: 5rem 0 2.5rem;
  background-image: url(../images/pattern.png);
  overflow: hidden;
}

.abt-gear {
  position: absolute;
  right: 0;
  top: 50%;
  width: 850px;
  transform: translate(50%, -50%);
  opacity: 0.2;
  animation: rightGearRotation 50s linear infinite;
}

.abt-gear img {
  width: 100%;
}

.about-wrapper {
  position: relative;
}

/***************/
.about-wrapper::before {
  content: "";
  position: absolute;
  right: 50%;
  top: 0;
  width: 10000px;
  height: 80%;
  background-color: #2d1e5f;
  background-image: url(../images/pattern.png);
  z-index: 0;
}

.about-wrapper .abt-bg-lt {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 630px;
  z-index: 5;
}

.about-wrapper .abt-bg-lt img {
  width: 100%;
}

/*************/
.about-cover {
  position: relative;
  width: 90%;
  height: 80%;
  padding: 6.25rem 7.5rem 20rem 0;
  background-color: #2d1e5f;
  background-image: url(../images/pattern.png);
  border-radius: 0 4rem 4rem 0;
  overflow: hidden;
}

.about-intro {
  position: relative;
  margin-bottom: 3.75rem;
  z-index: 10;
}

.about-intro h2 {
  color: var(--white);
  font-size: 1.875rem;
  font-weight: 500;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
}

.about-intro p {
  color: var(--white);
}

.about-goals {
  position: relative;
  z-index: 10;
}

.about-goals .goals-hd {
  position: absolute;
  right: -2rem;
  bottom: 2rem;
  transform: rotate(-90deg) translate(100%, 60px);
  transform-origin: right bottom;
}

.about-goals .goals-hd h3 {
  color: rgba(255, 255, 255, 0.18);
  font-size: 3.75rem;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
}

.goal-item {
  position: relative;
  min-height: calc(100% - 2rem);
  padding: 2.5rem 2.5rem 2.5rem;
  margin-bottom: 2rem;
  border: 1px solid var(--white);
  border-radius: 1.5rem 1.5rem 1.5rem 0;
  text-align: center;
  overflow: hidden;
  transition: 0.2s ease-out;
}

.goal-item figure {
  margin: 0 0 2rem 0;
}

.goal-item figure i {
  position: relative;
  display: block;
  width: 90px;
  height: 90px;
  margin: 0 auto;
}

.goal-item figure i img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  transition: 0.2s ease-out;
}

.goal-item figure i .hover {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.goal-item .goal-it-body {
  min-height: 50px;
}

.goal-item .goal-it-body h3 {
  color: #ffffff;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 0 1.5rem 0;
  text-transform: uppercase;
}

.goal-item .goal-it-body p {
  color: #ffffff;
  margin: 0;
}

.goal-item .goal-it-nav {
  text-align: center;
}

.goal-item .goal-it-nav .btn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  color: var(--white);
  font-size: 0.875rem;
  padding: 0.65rem 1.5rem;
  margin: 0 auto;
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 50px 50px 50px 0;
  box-shadow: none;
}

.goal-item .goal-it-nav .btn-more .icon-right {
  display: inline-block;
  width: 30px;
  height: 16px;
  margin-left: 0.5rem;
  background-image: url(../images/right-icon-wt.png);
  background-position: center;
  background-repeat: no-repeat;
}

.goal-item:hover {
  background-color: var(--white);
}

.goal-item:hover figure i img {
  transform: translate(-50%, -50%) scale(1.5);
  opacity: 0;
}

.goal-item:hover figure i .hover {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.goal-item:hover .goal-it-body h3 {
  color: var(--bk-grade-550);
}

.goal-item:hover .goal-it-nav {
  text-align: center;
}

.goal-item:hover .goal-it-nav .btn-more {
  color: var(--bk-grade-950);
  border: 1px solid var(--bk-grade-950);
}

.goal-item:hover .goal-it-nav .btn-more .icon-right {
  background-image: url(../images/right-icon-bk.png);
  background-position: center;
  background-repeat: no-repeat;
  animation: iconMoveRight 1s infinite;
}

.goal-item .goal-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 2.5rem 1.5rem 1.5rem;
  background-color: var(--white);
  border-radius: 50px 50px 50px 0;
  text-align: left;
  opacity: 0;
  transform: translateY(-25px);
  transition: 0.2s ease-out;
}

.goal-item .goal-overlay h3 {
  color: var(--bk-grade-950);
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 0 1.5rem 0;
  text-transform: uppercase;
}

.goal-item .goal-overlay p {
  color: var(--bk-grade-950);
  margin: 0 0 1rem 0;
}

.goal-item:hover .goal-overlay {
  opacity: 1;
  transform: translateY(0);
}

.about-graphics {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 690px;
}

.about-graphics img {
  width: 100%;
}

.values-sec {
  position: relative;
  padding: 2.5rem 0 2.5rem;
  background-image: url(../images/pattern.png);
  overflow: hidden;
}

.values-gear {
  position: absolute;
  left: 0;
  top: 50%;
  width: 850px;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  animation: leftGearRotation 50s linear infinite;
}

.values-gear img {
  width: 100%;
}

.values-wrapper {
  position: relative;
}

/************************************/
.values-wrapper::before {
  content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 10000px;
    height: 100%;
    background-color: #4f45e6;
    background-image: url(../images/pattern.png);
    z-index: 0;
}

.values-wrapper .values-bg-rt {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 690px;
  z-index: 5;
}

.values-wrapper .values-bg-rt img {
  width: 100%;
}

/*******************/
.values-cover {
  position: relative;
  max-width: 90%;
  padding: 4rem 0 4rem 7rem;
  margin-left: auto;
  background-color: #4f45e6;
  background-image: url(../images/pattern.png);
  border-radius: 4rem 0 0 4rem;
  overflow: hidden;
}

.values-intro {
  position: relative;
  margin-bottom: 3.75rem;
  z-index: 10;
}

.values-intro h2 {
  color: var(--white);
  font-size: 1.875rem;
  font-weight: 500;
  text-transform: uppercase;
}

.values-intro p {
  color: var(--white);
}

.values-goals {
  position: relative;
  max-width: 675px;
  z-index: 10;
}

.values-goals .values-hd {
  position: absolute;
  left: -1rem;
  bottom: 4rem;
  transform: rotate(-90deg);
  transform-origin: left bottom;
}

.values-goals .values-hd h3 {
  color: rgba(255, 255, 255, 0.18);
  font-size: 2.25rem;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
}

.values-item {
  position: relative;
  min-height: calc(100% - 4rem);
  padding: 2.5rem 2.5rem 2.5rem;
  margin-bottom: 4rem;
  border: 1px solid var(--white);
  border-radius: 1.5rem 1.5rem 0 1.5rem;
  text-align: center;
  overflow: hidden;
  transition: 0.2s ease-out;
}

.values-item figure {
  margin: 0 0 2rem 0;
}

.values-item figure i {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.values-item figure i img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  transition: 0.2s ease-out;
}

.values-item figure i .hover {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.values-item .values-it-body {
  min-height: 50px;
}

.values-item .values-it-body h3 {
  color: #d7c926;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 0 1.5rem 0;
  text-transform: uppercase;
}

.values-item .values-it-body p {
  color: #ffffff;
  margin: 0;
}

.values-item .values-it-nav {
  text-align: center;
}


.values-item:hover {
  background-color: var(--white);
}

.values-item:hover figure i img {
  transform: translate(-50%, -50%) scale(1.5);
  opacity: 0;
}

.values-item:hover figure i .hover {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.values-item:hover .values-it-body h3 {
  color: #4f46e5;
}

.values-item:hover .values-it-nav {
  text-align: center;
}



.values-item .values-overlay {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 2rem 1.5rem 1rem;
  background-color: var(--white);
  border-radius: 50px 50px 0 50px;
  text-align: left;
  opacity: 0;
  transform: translateY(-25px);
  transition: 0.2s ease-out;
}

.values-item .values-overlay h3 {
  color: var(--bk-grade-950);
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 0 0.5rem 0;
  text-transform: uppercase;
}

.values-item .values-overlay p {
  color: var(--bk-grade-950);
  margin: 0 0 1rem 0;
}

.values-item:hover .values-overlay {
  opacity: 1;
  transform: translateY(0);
}

.solution-sec {
  position: relative;
  padding: 2.5rem 0 2.5rem;
  background-image: url(../images/pattern.png);
  overflow: hidden;
}

.solution-gear {
  position: absolute;
  right: 20;
  top: 40%;
  width: 850px;
  transform: translate(50%, -50%);
  opacity: 0.2;
  animation: rightGearRotation 50s linear infinite;
  left: 58%;
}

.solution-gear img {
  width: 100%;
}

.solution-wrapper {
  position: relative;
}

.solution-wrapper::before {
  content: "";
  position: absolute;
  right: 50%;
  top: 0;
  width: 10000px;
  height: 100%;
  background-color: #2d1e5f;
  background-image: url(../images/pattern.png);
}

.solution-cover {
  position: relative;
  max-width: 90%;
  padding: 4rem 7rem 4rem 0;
  background-color: #2d1e5f;
  background-image: url(../images/pattern.png);
  border-radius: 0 4rem 4rem 0;
  overflow: hidden;
}

.solution-intro {
  position: relative;
  margin-bottom: 3.75rem;
  z-index: 10;
}

.solution-intro h2 {
  color: var(--white);
  font-size: 1.875rem;
  font-weight: 500;
  text-transform: uppercase;
}

.solution-intro p {
  color: var(--white);
}

.solution-goals {
  position: relative;
  z-index: 10;
}

.solution-goals .solution-hd {
  position: absolute;
  right: -20rem;
  bottom: 4rem;
  transform: rotate(-90deg) translate(100%, 60px);
  transform-origin: right bottom;
}

.solution-goals .solution-hd h3 {
  color: rgba(255, 255, 255, 0.18);
  font-size: 2.45rem;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
}

.solution-item {
  position: relative;
  max-width: 335px;
  min-height: calc(100% - 4rem);
  padding: 2.5rem 2.5rem 2.5rem;
  margin-bottom: 4rem;
  border: 1px solid var(--white);
  border-radius: 1.5rem 1.5rem 1.5rem 0;
  text-align: center;
  transition: 0.2s ease-out;
}

.solution-item figure {
  margin: 0 0 2rem 0;
}

.solution-item figure i {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.solution-item figure i img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  transition: 0.2s ease-out;
}

.solution-item figure i .hover {
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.solution-item .solution-it-body {
  min-height: 70px;
  margin-bottom: 1rem;
}

.solution-item .solution-it-body h3 {
  color: #ffffff;
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0 0 1.5rem 0;
  text-transform: uppercase;
}

.solution-item .solution-it-body p {
  color: #ffffff;
  margin: 0;
}

.solution-item .solution-it-nav {
  text-align: center;
}

.solution-item .solution-it-nav .btn-more {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  color: var(--white);
  font-size: 0.875rem;
  padding: 0.65rem 1.5rem;
  margin: 0 auto;
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 50px 50px 50px 0;
  box-shadow: none;
}

.solution-item .solution-it-nav .btn-more .icon-right {
  display: inline-block;
  width: 30px;
  height: 16px;
  margin-left: 0.5rem;
  background-image: url(../images/right-icon-wt.png);
  background-position: center;
  background-repeat: no-repeat;
}

.solution-item:hover {
  background-color: var(--white);
}

.solution-item:hover figure i img {
  transform: translate(-50%, -50%) scale(1.5);
  opacity: 0;
}

.solution-item:hover figure i .hover {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.solution-item:hover .solution-it-body h3 {
  color: #ff8904;
}

.solution-item:hover .solution-it-nav {
  text-align: center;
}

.solution-item:hover .solution-it-nav .btn-more {
  color: #ff8904;
  border: 1px solid #ff8904;
}

.solution-item:hover .solution-it-nav .btn-more .icon-right {
  background-image: url(../images/right-icon-bk.png);
  background-position: center;
  background-repeat: no-repeat;
  animation: iconMoveRight 1s infinite;
}

.industries-sec {
  position: relative;
  padding: 2.5rem 0 2.5rem;
  background-image: url(../images/pattern.png);
  overflow: hidden;
}

.industries-gear {
  position: absolute;
  left: 0;
  top: 50%;
  width: 850px;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  animation: leftGearRotation 50s linear infinite;
}

.industries-gear img {
  width: 100%;
}

.industries-wrapper {
  position: relative;
}

.industries-wrapper::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 10000px;
  height: 100%;
  background-color: #4f45e6;
  background-image: url(../images/pattern.png);
  z-index: 0;
}

.industries-cover {
  position: relative;
  max-width: 90%;
  padding: 4rem 0 4rem 7rem;
  margin-left: auto;
  background-color: #4f45e6;
  background-image: url(../images/pattern.png);
  border-radius: 4rem 0 0 4rem;

}

.industries-intro {
  position: relative;
  margin-bottom: 3.75rem;
  z-index: 10;
}

.industries-intro h2 {
  color: var(--white);
  font-size: 1.875rem;
  font-weight: 500;
  text-transform: uppercase;
}

.industries-intro p {
  color: var(--white);
}

.industries-goals {
  position: relative;
  z-index: 10;
}

.industries-goals .industries-hd {
  position: absolute;
  left: -1rem;
  bottom: 10rem;
  transform: rotate(-90deg);
  transform-origin: left bottom;
}

.industries-goals .industries-hd h3 {
  color: rgba(255, 255, 255, 0.18);
  font-size: 3.75rem;
  font-weight: 500;
  margin: 0;
  text-transform: uppercase;
}

.industries-item {
  position: relative;
  max-width: 335px;
  min-height: calc(100% - 4rem);
  padding: 2.5rem 2.5rem 2.5rem;
  margin: 0 auto 4rem;
  border: 1px solid var(--white);
  border-radius: 1.5rem 1.5rem 0 1.5rem;
  text-align: center;
  transition: 0.2s ease-out;
}

.industries-item figure {
  margin: 0 0 2rem 0;
}

.industries-item figure i {
  position: relative;
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.industries-item figure i img ,.values-item figure i img{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  transition: 0.2s ease-out;
}

.industries-item figure i .hover , .values-item figure i .hover{
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 0;
}

.industries-item .industries-it-body , .values-item .values-it-body{
  min-height: 50px;
  margin-bottom: 1rem;
}

.industries-item .industries-it-body h3 , .values-item .values-it-body h3 {
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0 0 1.5rem 0;
  text-transform: uppercase;
}

.industries-item .industries-it-body p {
  color: #ffffff;
  margin: 0;
}

.industries-item .industries-it-nav, .values-item .industries-it-nav{
  text-align: center;
}

.industries-item .industries-it-nav .btn-more , .values-item .industries-it-nav .btn-more  {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 150px;
  color: var(--white);
  font-size: 0.875rem;
  padding: 0.65rem 1.5rem;
  margin: 0 auto;
  background-color: transparent;
  border: 1px solid var(--white);
  border-radius: 50px 50px 0 50px;
  box-shadow: none;
}

.industries-item .industries-it-nav .btn-more .icon-right, .values-item .industries-it-nav .btn-more .icon-right {
  display: inline-block;
  width: 30px;
  height: 16px;
  margin-left: 0.5rem;
  background-image: url(../images/right-icon-wt.png);
  background-position: center;
  background-repeat: no-repeat;
}

.industries-item:hover {
  background-color: var(--white);
}

.industries-item:hover figure i img {
  transform: translate(-50%, -50%) scale(1.5);
  opacity: 0;
}

.industries-item:hover figure i .hover {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.industries-item:hover .industries-it-body h3 {
  color: #4f46e5;
}

.industries-item:hover .industries-it-nav {
  text-align: center;
}

.industries-item:hover .industries-it-nav .btn-more , .values-item:hover .industries-it-nav .btn-more {
  color: #4f46e5;
  border: 1px solid #4f46e5;
}

.industries-item:hover .industries-it-nav .btn-more .icon-right ,.values-item:hover .industries-it-nav .btn-more .icon-right {
  background-image: url(../images/right-icon-bk.png);
  background-position: center;
  background-repeat: no-repeat;
  animation: iconMoveRight 1s infinite;
}

.capab-sec {
  position: relative;
  padding: 2.5rem 0 5rem;
  background-image: url(../images/pattern.png);
}

.capabalities-hd {
  margin-bottom: 3rem;
  text-align: center;
}

.capabalities-hd h3 {
  color: #0b639e;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.capab-item {
  position: relative;
  min-height: calc(100% - 0.5rem);
  padding: 2.5rem 1.5rem 1rem;
  margin-bottom: 0.5rem;
  background-color: var(--white);
  border-radius: 2.5rem;
}

.capab-item.capab-blue {
  background-color: #2d1e5f;
  border-bottom-left-radius: 0;
}

.capab-item.capab-green {
  background-color: #4f45e6;
  border-bottom-left-radius: 0;
}

.capab-item.capab-orange {
  background-color: #ff7959;
  border-bottom-right-radius: 0;
}

.capab-item.capab-yellow {
  background-color: #6ee7b7;
  border-bottom-right-radius: 0;
}

.capab-item .capab-hd {
  position: relative;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.capab-item .capab-hd1 {
  position: relative;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
}

.capab-item .capab-hd::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 5px;
  background-color: rgba(255, 255, 255, 0.5);
}

.capab-item .capab-hd1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100px;
  height: 5px;
  background-color: #559a95;
}

.capab-item .capab-hd h3 {
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}

.capab-item .capab-hd1 h3 {
  color: #2d1e5f;
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}

.capab-item .capab-body ul li {
  position: relative;
  color: var(--white);
  padding: 0 0 0 1rem;
  margin-bottom: 0.75rem;
}

.capab-item .capab-body1 ul li {
  position: relative;
  color: #2d1e5f;
  padding: 0 0 0 1rem;
  margin-bottom: 0.75rem;
}

.capab-item .capab-body ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 6px;
  height: 6px;
  background-color: var(--white);
  border-radius: 50%;
}

.capab-item .capab-body1 ul li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  width: 6px;
  height: 6px;
  background-color: #2d1e5f;
  border-radius: 50%;
}

.footer-sec {
  position: relative;
  padding: 4rem 0 2rem;
  background-color: #302262;
  background-image: url(../images/pattern.png);
  overflow: hidden;
}

.footer-sec .col-contact {
    flex: 0 0 30%;
    max-width: 30%;
}

.footer-sec .col-location {
    flex: 0 0 30%;
    max-width: 30%;
}

.footer-sec .col-group {
  flex: 0 0 40%;
  max-width: 40%;
}

.ft-contact-hd {
  margin-bottom: 4rem;
  text-align: center;
}

.ft-contact-hd h3 {
  color: var(--white);
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

.footer-con-cover .footer-con-hd {
  padding: 0.65rem 0.5rem;
  max-width: 225px;
  margin: 0 auto 2rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 50px;
  text-align: center;
}

.footer-con-cover .footer-con-hd h3 {
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}

.footer-con-cover .footer-con-body {
  padding: 1rem 0 3rem;
  margin-bottom: 3rem;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}

.footer-con-cover .footer-con-item h3 {
  color: var(--white);
  font-size: 1.125rem;
  font-weight: 500;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
  text-align: center;
}

.footer-con-cover .footer-con-item p {
  color: var(--white);
  font-size: 0.875rem;
  padding: 0.5rem 0.25rem;
  margin: 0;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 50px;
  text-align: center;
}

.footer-con-cover .footer-con-item p a {
  color: var(--white);
}

.footer-con-cover .footer-con-item p a:hover {
  color: #e54e24;
}

.footer-con-cover .footer-chat {
  text-align: center;
}

.footer-con-cover .footer-chat .btn-chat {
  color: var(--white);
  box-shadow: none;
  text-transform: capitalize;
}

.footer-con-cover .footer-chat .btn-chat .chat-icon {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 46px;
  height: 46px;
  margin-right: 1rem;
  background-color: var(--white);
  border-radius: 50%;
  transition: 0.2s ease-out;
  animation: iconPulse 1.5s ease-in-out infinite;
}

.footer-con-cover .footer-chat .btn-chat .chat-icon img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}

.footer-con-cover .footer-chat .btn-chat .chat-label {
  display: inline-block;
  vertical-align: middle;
}

.footer-con-cover .footer-chat .btn-chat:hover .chat-icon {
  background-color: #fab13c;
}

.ft-group-cover .ft-group-hd {
  padding: 0.65rem 0.5rem;
  margin: 0 auto 2rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 50px;
  text-align: center;
}

.ft-group-cover .ft-group-hd h3 {
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}

.ft-group-cover .ft-group-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 230px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  margin-right: -103%;
  margin-top: -7%;

}

.ft-group-cover .ft-group-item.group-left {
  border-radius: 1.5rem;
}

.ft-group-cover .ft-group-item.group-right {
  border-radius: 1.5rem;
}

.ft-group-cover .ft-group-item i {
  position: relative;
  display: block;
  width: 200px;
  margin: 0;
}

.ft-group-cover .ft-group-item i img {
  position: absolute;
  left: 54%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 160%;
  transition: 0.2s ease-out;
  /*border: 1px solid white;
  border-radius: 1rem 1.5rem 1rem 1.5rem;*/
}

.ft-group-cover .ft-group-item i img.hover {
  transform: translate(-50%, -50%) scale(1.5);
  opacity: 0;
}

.ft-group-cover .ft-group-item:hover i img {
  opacity: 0;
}

.ft-group-cover .ft-group-item:hover i img.hover {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.footer-location .footer-loc-hd {
  padding: 0.65rem 0.5rem;
  max-width: 225px;
  margin: 0 auto 2rem;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 50px;
  text-align: center;
}

.footer-location .footer-loc-hd h3 {
  color: var(--white);
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}

.footer-location .footer-address {
  margin-bottom: 1.5rem;
  text-align: center;
}

.footer-location .footer-address p {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.875rem;
  font-weight: 500;
  margin: -13px;
}

.footer-location .footer-map {
  /*height: 120px;*/
  position:relative;
  left: 4px;
  padding-bottom: 15px;
}

.footer-location .footer-map iframe {
  /*width: 40%;
  height: 80%;*/
  position: relative;
  left:50px;
}
.copy-cover1 {
  position: relative;
  padding: 1px 0 0 0;
  margin: 1px 0 0 0;

  
}

.copy-cover {
  position: relative;
  padding: 2.5rem 0 0 0;
  margin: 2.5rem 0 0 0;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.nav-social {
 position: absolute;
 top: -3px;
 left: 77px;
}

.nav-social .sm-item {
  display: inline-block;
}

.nav-social .sm-item + .sm-item {
  margin-left: 1rem;
}

.nav-social .sm-item .sm-link {
  position: relative;
  display: block;
  color: #e54e24;
  width: 36px;
  height: 36px;
  background-color: var(--white);
  border: 0;
  border-radius: 50%;
  text-align: center;
  text-decoration: none;
}

.nav-social .sm-item .sm-link::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 42px;
  height: 42px;
  border: 1px solid #e54e24;
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1.5);
  opacity: 0;
  transition: 0.2s ease-out;
}

.nav-social .sm-item .sm-link .fa {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 1.25rem;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.nav-social .sm-item .sm-link:hover {
  color: var(--white);
  background-color: #e54e24;
}

.nav-social .sm-item .sm-link:hover::before {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.copyright {
  color: var(--white);
  font-size: 1rem;
  margin: 0 auto;
  text-align: center;
}
.mCSB_outside + .mCSB_scrollTools {
  right: -10px;
}

.mCS-light-thick.mCSB_scrollTools .mCSB_draggerRail,
.mCS-dark-thick.mCSB_scrollTools .mCSB_draggerRail {
  width: 4px;
  background-color: transparent;
  background-color: transparent;
  border-radius: 0px;
}

.mCS-light-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 4px;
  background-color: val(--bk-grade-400);
  background-color: #707070;
  border-radius: 2px;
}

.mCS-light-thick.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-light-thick.mCSB_scrollTools
.mCSB_dragger.mCSB_dragger_onDrag
.mCSB_dragger_bar {
  background-color: val(--bk-grade-400);
  background-color: #707070;
}

.mCSB_scrollTools .mCSB_dragger {
  height: 75px !important;
}

/* Loader CSS
-------------------------------------------------- */
.loader-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  background-position: left top;
  background-repeat: repeat;
  z-index: 99999;
}

.loader-overlay .loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
}

.loader-overlay .loader .logo {
  position: relative;
  display: block;
  width: 105px;
  height: 85px;
  margin: 0 auto 0.5rem;
}

.loader-overlay .loader .logo .gear-01 {
  position: absolute;
  left: 0;
  top: 0;
  width: 64px;
  animation: cwRotation 5s linear infinite;
}

.loader-overlay .loader .logo .gear-02 {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50px;
  animation: acwRotation 5s linear infinite;
}

.loader-txt {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  text-align: center;
  text-transform: uppercase;
}

.loader-txt span {
  color: transparent;
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 0 0 2px rgba(204, 208, 212, 0.9), 0 15px 25px rgba(0, 0, 0, 0.3), 0 -2px 3px rgba(0, 0, 0, 0.1), 0 -5px 10px rgba(255, 255, 255, 0.5), 0 5px 10px rgba(0, 0, 0, 0.3), 0 3px 4px rgba(255, 255, 255, 0.2), 0 0 20px rgba(255, 255, 255, 0.45);
  animation: animate 0.85s ease-in-out infinite alternate;
}

.loader-txt span:nth-child(7) {
  animation-delay: 1.05s;
}

.loader-txt span:nth-child(6) {
  animation-delay: 0.9s;
}

.loader-txt span:nth-child(5) {
  animation-delay: 0.75s;
}

.loader-txt span:nth-child(4) {
  animation-delay: 0.6s;
}

.loader-txt span:nth-child(3) {
  animation-delay: 0.45s;
}

.loader-txt span:nth-child(2) {
  animation-delay: 0.3s;
}

.loader-txt span:nth-child(1) {
  animation-delay: 0.15s;
}

@keyframes animate {
  to {
    text-shadow: 0 0 2px rgba(204, 208, 212, 0.2), 0 0 3px rgba(0, 0, 0, 0.02), 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(255, 255, 255, 0), 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(255, 255, 255, 0), 0 0 0 rgba(255, 255, 255, 0);
  }
}

@keyframes cwRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes acwRotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

/* Animations
-------------------------------------------------- */
@keyframes navDown {
  0% {
    transform: translateY(-40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes upBounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

@keyframes drop-anim {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rightGearRotation {
  from {
    transform: translate(50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(50%, -50%) rotate(360deg);
  }
}

@keyframes leftGearRotation {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes iconMoveRight {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(10px);
  }
  60% {
    transform: translateX(5px);
  }
}

@keyframes btnPulseORG {
  0% {
    box-shadow: 0 0 0 0px rgba(229, 78, 36, 0.9);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(229, 78, 36, 0);
  }
}

/* RESPONSIVE CSS
-------------------------------------------------- */
@media (min-width: 768px) {

  .dropdown-menu {
    animation: drop-anim 0.3s ease-out;
  }
}

@media (min-width: 1280px) {
  .container,
  .container-xl {
    width: 1220px;
    max-width: 1220px;
  }
}

@media (min-width: 1366px) {
  .container,
  .container-xl {
    width: 1320px;
    max-width: 1320px;
  }
}

@media (max-width: 1600px) {
  .mx-oig {
    margin-left: -2rem;
    margin-right: -2rem;
  }
  .px-oig {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .abt-gear {
    width: 600px;
  }
  .about-wrapper .abt-bg-lt {
    width: 550px;
  }
  .about-cover {
    padding: 6.25rem 7.5rem 18rem 5rem;
  }
  .about-graphics {
    width: 600px;
  }
  .values-gear {
    width: 600px;
  }
  .values-wrapper .values-bg-rt {
    width: 500px;
  }
  .solution-gear {
    width: 600px;
  }
  .industries-gear {
    width: 600px;
  }
}

@media (max-width: 1440px) {
  .mx-oig {
    margin-left: -1.5rem;
    margin-right: -1.5rem;
  }
  .px-oig {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .about-cover {
    padding: 6.25rem 7.5rem 16rem 5rem;
  }
  .about-graphics {
    width: 500px;
  }
  .values-wrapper .values-bg-rt {
    width: 400px;
  }
  .abt-gear {
    width: 500px;
  }
  .values-gear {
    width: 500px;
  }
  .solution-gear {
    width: 500px;
  }
  .industries-gear {
    width: 500px;
  }
}

@media (max-width: 1280px) {
  .about-wrapper .abt-bg-lt {
    width: 450px;
  }
  .about-cover {
    padding: 6.25rem 7.5rem 12rem 5rem;
  }
  .about-graphics {
    width: 400px;
  }
  .values-wrapper .values-bg-rt {
    width: 300px;
  }
}

@media (max-width: 1200px) {
  .main-nav .nav-item .nav-link {
    font-size: 0.875rem;
  }
}

@media (max-width: 991px) {
  .mx-oig {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .px-oig {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .navbar-main .logo {
    margin-bottom: 0.5rem;
  }
  .navbar-main .navbar-toggler {
    background-color: var(--color-300);
  }
  .navbar-main .navbar-collapse {
    background-color: rgba(0, 0, 0, 0.75);
  }
  .main-nav {
    margin-top: 0.5rem;
    margin-left: unset;
  }
  .navbar-main.navbar-fixed .main-nav {
    margin-top: 0.5rem;
  }
  .main-nav .nav-item .nav-link {
    font-size: 1rem;
    padding: 0.75rem 1rem;
  }
  .main-nav .nav-item .nav-link .nav-block::after {
    height: 2px;
  }
  .about-wrapper .abt-bg-lt {
    width: 350px;
  }
  .about-cover {
    max-width: unset;
    padding: 3rem 3rem 8rem 4rem;
    border-radius: 0 2rem 2rem 0;
  }
  .about-graphics {
    width: 300px;
  }
  .about-goals .goals-hd h3 {
    right: 0.5rem;
    bottom: 2rem;
  }
  .about-goals .goals-hd h3 {
    font-size: 2.5rem;
  }
  .values-cover {
    max-width: unset;
    padding: 3rem 0 3rem 4rem;
    border-radius: 2rem 0 0 2rem;
  }
  .values-item {
    margin-bottom: 2rem;
  }
  .values-goals .values-hd {
    left: -0.5rem;
    bottom: 2rem;
  }
  .values-goals .values-hd h3 {
    font-size: 2.5rem;
  }
  .solution-cover {
    max-width: unset;
    padding: 3rem 4rem 3rem 0;
    border-radius: 0 2rem 2rem 0;
  }
  .solution-item {
    margin-bottom: 2rem;
  }
  .solution-goals .solution-hd {
    right: 0.5rem;
    bottom: 2rem;
  }
  .solution-goals .solution-hd h3 {
    font-size: 2rem;
  }
  .industries-cover {
    max-width: unset;
    padding: 3rem 0 3rem 4rem;
    border-radius: 2rem 0 0 2rem;
  }
  .industries-item {
    margin: 0 auto 2rem;
  }
  .industries-goals .industries-hd {
    left: -0.5rem;
    bottom: 2rem;
  }
  .industries-goals .industries-hd h3 {
    font-size: 2rem;
  }
  .footer-sec .col-contact {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .footer-sec .col-location {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .footer-sec .col-group {
    flex: 0 0 100%;
    max-width: 100%;
    order: 10;
  }
  .footer-con-cover {
    margin-bottom: 1rem;
  }
  .footer-location {
    margin-bottom: 1rem;
  }
}

@media (max-width: 767px) {
  .nav-social {
    position: relative;
    left: auto;
    top: auto;
    margin-bottom: 1rem;
    text-align: center;
    z-index: 0;
  }
}

@media (max-width: 576px) {
  .mx-oig {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
  }
  .px-oig {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .connect-us {
    padding-bottom: 1rem;
  }
  .connect-us li {
    margin-bottom: 0.25rem;
  }
  .connect-us li a {
    font-size: 1rem;
    width: 40px;
    height: 40px;
  }
  .about-sec {
    padding: 3rem 0 1.5rem;
  }
  .about-wrapper::before {
    display: none;
  }
  .about-wrapper .abt-bg-lt {
    display: none;
  }
  .about-cover {
    padding: 1rem 1rem 8rem 1rem;
    border-radius: 1rem;
  }
  .about-intro {
    margin-bottom: 1.5rem;
  }
  .about-intro h2 {
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
  }
  .goal-item {
    min-height: calc(100% - 1rem);
    padding: 1.5rem 1rem 1.5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
  }
  .goal-item figure {
    margin: 0 0 1rem 0;
  }
  .goal-item figure i {
    width: 65px;
    height: 65px;
  }
  .goal-item .goal-it-body h3 {
    font-size: 1.125rem;
    margin: 0 0 1rem 0;
  }
  .goal-item .goal-it-nav .btn-more {
    max-width: 125px;
    padding: 0.5rem 1rem;
  }
  .goal-item .goal-overlay {
    padding: 1rem 0.5rem 0.5rem;
    border-radius: 1rem;
  }
  .goal-item .goal-overlay h3 {
    font-size: 1.125rem;
    margin: 0px 0px 0.5rem;
  }
  .goal-item .goal-overlay p {
    font-size: 0.875rem;
  }
  .about-goals .goals-hd {
    display: none;
  }
  .values-sec {
    padding: 1.5rem 0 1.5rem;
  }
  .values-wrapper::before {
    display: none;
  }
  .values-cover {
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 1rem;
  }
  .values-intro {
    margin-bottom: 1.5rem;
  }
  .values-intro h2 {
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
  }
  .values-item {
    min-height: calc(100% - 1rem);
    padding: 1.5rem 1rem 1.5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
  }
  .values-item figure {
    margin: 0 0 1rem 0;
  }
  .values-item figure i {
    width: 65px;
    height: 65px;
  }
  .values-item figure {
    margin: 0 0 1rem 0;
  }
  .values-item .values-it-body h3 {
    font-size: 1.125rem;
    margin: 0 0 1rem 0;
  }
  .values-item .values-it-nav .btn-more {
    max-width: 125px;
    padding: 0.5rem 1rem;
  }
  .values-wrapper .values-bg-rt {
    display: none;
  }
  .values-item .values-overlay {
    padding: 1rem 0.5rem 0.5rem;
    border-radius: 1rem;
  }
  .values-item .values-overlay h3 {
    font-size: 1.125rem;
    margin: 0px 0px 0.5rem;
  }
  .values-item .values-overlay p {
    font-size: 0.875rem;
  }
  .values-goals .values-hd {
    display: none;
  }
  .solution-sec {
    padding: 1.5rem 0 1.5rem;
  }
  .solution-wrapper::before {
    display: none;
  }
  .solution-cover {
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 1rem;
  }
  .solution-intro {
    margin-bottom: 1.5rem;
  }
  .solution-intro h2 {
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
  }
  .solution-item {
    min-height: calc(100% - 1rem);
    padding: 1.5rem 1rem 1.5rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
  }
  .solution-item figure {
    margin: 0 0 1rem 0;
  }
  .solution-item figure i {
    width: 65px;
    height: 65px;
  }
  .solution-item .solution-it-body h3 {
    font-size: 1rem;
    margin: 0 0 1rem 0;
  }
  .solution-item .solution-it-nav .btn-more {
    max-width: 125px;
    padding: 0.5rem 1rem;
  }
  .solution-goals .solution-hd {
    display: none;
  }
  .industries-sec {
    padding: 1.5rem 0 1.5rem;
  }
  .industries-wrapper::before {
    display: none;
  }
  .industries-cover {
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 1rem;
  }
  .industries-intro {
    margin-bottom: 1.5rem;
  }
  .industries-intro h2 {
    font-size: 1.5rem;
    margin: 0 0 0.5rem 0;
  }
  .industries-item {
    min-height: calc(100% - 1rem);
    padding: 1.5rem 1rem 1.5rem;
    margin: 0 auto 1rem;
    border-radius: 1rem;
  }
  .industries-item figure {
    margin: 0 0 1rem 0;
  }
  .industries-item figure i {
    width: 65px;
    height: 65px;
  }
  .industries-item figure {
    margin: 0 0 1rem 0;
  }
  .industries-item .industries-it-body h3 {
    font-size: 1.125rem;
    margin: 0 0 1rem 0;
  }
  .industries-item .industries-it-nav .btn-more {
    max-width: 125px;
    padding: 0.5rem 1rem;
  }
  .industries-goals .industries-hd {
    display: none;
  }
  .capab-sec {
    padding: 1.5rem 0 3rem;
  }
  .capabalities-hd {
    margin-bottom: 1.5rem;
  }
  .capabalities-hd h3 {
    font-size: 1.5rem;
  }
  .capab-item {
    padding: 1.5rem 1.5rem 1rem;
    border-radius: 1rem;
  }
  .capab-item.capab-blue,
  .capab-item.capab-green {
    border-bottom-left-radius: 1rem;
  }
  .capab-item.capab-orange,
  .capab-item.capab-yellow {
    border-bottom-right-radius: 1rem;
  }
  .capab-item .capab-hd {
    padding-bottom: 1.25rem;
    margin-bottom: 1.25rem;
  }
  .capab-item .capab-hd h3 {
    font-size: 1.125rem;
  }
  .footer-sec {
    padding: 2rem 0 2rem;
  }
  .ft-contact-hd {
    margin-bottom: 2rem;
  }
  .ft-contact-hd h3 {
    font-size: 1.5rem;
  }
  .footer-con-cover .footer-con-hd h3 {
    font-size: 1.125rem;
  }
  .footer-con-cover .footer-con-item h3 {
    font-size: 1rem;
  }
  .footer-location .footer-loc-hd h3 {
    font-size: 1.125rem;
  }
  .ft-group-cover .ft-group-hd h3 {
    font-size: 1.125rem;
  }
  .ft-group-cover .ft-group-item {
    height: 150px;
    border-radius: 1.5rem;
  }
  .copy-cover {
    padding: 1.5rem 0 0 0;
    margin: 1.5rem 0 0 0;
  }
}





@media (max-width: 480px) {
  .mx-oig {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
    padding: 0rem 0rem 5rem;
  }
  .px-oig {
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }
  .goal-item {
    min-height: calc(100% - 0.5rem);
  }
  .goal-item .goal-it-body h3 {
    font-size: 1rem;
  }
  .goal-item .goal-overlay h3 {
    font-weight: 1rem;
  }
  .goal-item .goal-overlay p {
    font-weight: 0.75rem;
  }
  .goal-overlay .overlay-scroll {
    padding: 0 1rem 0 0;
    max-height: 150px;
  }
  .values-item {
    min-height: calc(100% - 0.5rem);
  }
  .values-item .values-it-body h3 {
    font-size: 1rem;
  }
  .values-item .values-overlay h3 {
    font-weight: 1rem;
  }
  .values-item .values-overlay p {
    font-weight: 0.75rem;
  }
  .values-overlay .overlay-scroll {
    height: 150px;
  }
  .solution-item {
    min-height: calc(100% - 0.5rem);
  }
  .solution-item .solution-it-body h3 {
    font-size: 1rem;
  }
  .industries-item {
    min-height: calc(100% - 0.5rem);
  }
  .industries-item .industries-it-body h3 {
    font-size: 1rem;
  }
  .footer-sec .col-contact {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .footer-sec .col-location {
    flex: 0 0 100%;
    max-width: 100%;
  }


}
