:root {
  //colors
  --white: #fff;
  --black: #000;

  --color-100: #2677a9;
  --color-200: #2b9b6a;
  --color-300: #e54e24;
  --color-400: #d7c926;
  --color-500: #1d855c;

  // Dark color grade
  --bk-grade-100: #eaeaea;
  --bk-grade-150: #d6d6d6;
  --bk-grade-200: #c1c1c1;
  --bk-grade-250: #adadad;
  --bk-grade-300: #999999;
  --bk-grade-350: #848484;
  --bk-grade-400: #707070;
  --bk-grade-450: #5b5b5b;
  --bk-grade-500: #474747;
  --bk-grade-550: #333333;
  --bk-grade-600: #2d2d2d;
  --bk-grade-650: #282828;
  --bk-grade-700: #232323;
  --bk-grade-750: #1e1e1e;
  --bk-grade-800: #191919;
  --bk-grade-850: #141414;
  --bk-grade-900: #0f0f0f;
  --bk-grade-950: #0a0a0a;
}

@mixin list-none {
  list-style: none;
}

// Transiton mixin
@mixin trans-ease-out {
  transition: 0.2s ease-out;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.eot");
  src: url("../fonts/Poppins-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins-Light.woff2") format("woff2"),
    url("../fonts/Poppins-Light.woff") format("woff"),
    url("../fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.eot");
  src: url("../fonts/Poppins-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins-Bold.woff2") format("woff2"),
    url("../fonts/Poppins-Bold.woff") format("woff"),
    url("../fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.eot");
  src: url("../fonts/Poppins-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins-Regular.woff2") format("woff2"),
    url("../fonts/Poppins-Regular.woff") format("woff"),
    url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.eot");
  src: url("../fonts/Poppins-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Poppins-Medium.woff2") format("woff2"),
    url("../fonts/Poppins-Medium.woff") format("woff"),
    url("../fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

body {
  font-style: normal;
  font-family: "Poppins";
  font-size: 1rem;
}

a,
button {
  @include trans-ease-out();
}

ul {
  @include list-none;
  padding: 0;
  margin: 0;
}

a:focus,
button:focus {
  outline: none !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

::selection {
  color: var(--white);
  background: var(--color-100);
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--color-100) var(--color-200);
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--color-100);
  border-radius: 20px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(38, 119, 169, 0.4);
}

.form-control:focus {
  box-shadow: none;
}

.return-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--color-100);
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
  transform: rotate(45deg);
  transition: 0.3s linear;
  z-index: 10;
  span {
    display: block;
    transform: rotate(-45deg);
    img {
      position: relative;
      width: 15px;
      animation: upBounce 2s infinite;
    }
  }
  &:hover {
    span {
      img {
        top: 5px;
      }
    }
  }
}

.btn-shine {
  position: relative;
  overflow: hidden;
  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
      to right,
      rgba(208, 242, 255, 0) 0%,
      rgba(208, 242, 255, 0.3) 100%
    );
    transform: skewX(-25deg);
    z-index: 2;
  }
}
.btn-shine {
  &:hover {
    &:before {
      animation: btn-shineAnim 0.75s;
    }
  }
}

.mx-oig {
  margin-left: -2.25rem;
  margin-right: -2.25rem;
}
.px-oig {
  padding-left: 2.25rem;
  padding-right: 2.25rem;
}

.txt-bold {
  font-weight: 500;
}

.navbar-main {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 1.5rem 1rem 0;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  z-index: 1030;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: white;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e54825', endColorstr='#ff9900', GradientType=1 );
  }
  .logo {
    width: 113px;
    margin-bottom: 0.5rem;
    @include trans-ease-out();
    img {
      width: 100%;
    }
  }
  .dropdown-menu {
    padding: 0;
    border: 0;
    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 5px 0px;
  }
  &.navbar-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba($color: #000000, $alpha: 0.65);
    z-index: 1030;
    .logo {
      width: 90px;
    }
    .main-nav {
      margin-top: 1.5rem;
    }
  }
}

.main-nav {
  margin-top: 3rem;
  margin-left: auto;
  .nav-item {
    .nav-link {
      color: var(--white) !important;
      font-size: 1rem;
      font-weight: 500;
      padding: 0.5rem 1rem;
      text-transform: uppercase;
      .nav-block {
        position: relative;
        display: inline-block;
        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: -0.5rem;
          height: 4px;
          background-color: #ff9900;
          opacity: 0;
          @include trans-ease-out();
        }
      }
      &.active,
      &:hover {
        color: #ff9900 !important;
        .nav-block {
          &::after {
            opacity: 1;
          }
        }
      }
    }

    &.active {
      .nav-link {
        background-color: transparent !important;
      }
    }
  }
  .dropdown-menu {
    padding: 0;
    border: 0;
    border-radius: 0;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    .dropdown-item {
      display: block;
      color: var(--bk-grade-700);
      &:hover {
        color: var(--white);
        background-color: var(--color-100);
      }
    }
  }
  .dropdown-toggle::after {
    content: "\f107" !important;
    font-family: "FontAwesome";
    font-size: 0.75rem;
    margin-left: 0.255em;
    vertical-align: 0;
    border-top: 0 solid;
    border-right: 0 solid transparent;
    border-bottom: 0;
    border-left: 0 solid transparent;
  }
}

.banner-sec {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.15);
    background-image: url(../images/pattern.png);
  }
}

.banner-cover {
  position: relative;
  height: 100vh;
  overflow: hidden;
  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
  }
  &::before {
    top: 0;
    height: 20%;
    background: rgba(0, 0, 0, 0.75);
    background: -webkit-gradient(
      left top,
      left bottom,
      color-stop(0%, rgba(0, 0, 0, 0.75)),
      color-stop(100%, rgba(0, 0, 0, 0))
    );

    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.75) 0%,
      rgba(0, 0, 0, 0) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
  }
  &::after {
    height: 20%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    background: -webkit-gradient(
      left top,
      left bottom,
      color-stop(0%, rgba(0, 0, 0, 0)),
      color-stop(100%, rgba(0, 0, 0, 0.75))
    );

    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.75) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
  }
  .carousel {
    .carousel-inner {
      .carousel-item {
        img,
        video {
          width: 100%;
          height: 100vh;
          object-fit: cover;
        }
      }
    }
  }
}

.connect-sec {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.connect-us {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  padding-bottom: 2rem;
  li {
    margin-bottom: 1rem;
    a {
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--white);
      font-size: 1.5rem;
      width: 60px;
      height: 60px;
      background-color: var(--color-500);
      border-radius: 50%;
      &:hover {
        background-color: var(--color-300);
        animation: btnPulseORG 1s infinite;
      }
    }
  }
}

.about-sec {
  position: relative;
  padding: 5rem 0 2.5rem;
  background-image: url(../images/pattern.png);
  overflow: hidden;
}

.abt-gear {
  position: absolute;
  right: 0;
  top: 50%;
  width: 850px;
  transform: translate(50%, -50%);
  opacity: 0.2;
  animation: rightGearRotation 50s linear infinite;
  img {
    width: 100%;
  }
}

.about-wrapper {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    right: 50%;
    top: 0;
    width: 10000px;
    height: 100%;
    background-color: #1a699d;
    background-image: url(../images/pattern.png);
    z-index: 0;
  }
  .abt-bg-lt {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 630px;
    z-index: 5;
    img {
      width: 100%;
    }
  }
}

.about-cover {
  position: relative;
  max-width: 90%;
  padding: 6.25rem 7.5rem 20rem 0;
  background-color: #1a699d;
  background-image: url(../images/pattern.png);
  border-radius: 0 4rem 4rem 0;
  overflow: hidden;
}

.about-intro {
  position: relative;
  margin-bottom: 3.75rem;
  z-index: 10;
  h2 {
    color: var(--white);
    font-size: 1.875rem;
    font-weight: 500;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
  }
  p {
    color: var(--white);
  }
}

.about-goals {
  position: relative;
  z-index: 10;
  .goals-hd {
    position: absolute;
    right: -2rem;
    bottom: 2rem;
    transform: rotate(-90deg) translate(100%, 60px);
    transform-origin: right bottom;
    h3 {
      color: rgba($color: #ffffff, $alpha: 0.18);
      font-size: 3.75rem;
      font-weight: 500;
      margin: 0;
      text-transform: uppercase;
    }
  }
}

.goal-item {
  position: relative;
  min-height: calc(100% - 2rem);
  padding: 2.5rem 2.5rem 2.5rem;
  margin-bottom: 2rem;
  border: 1px solid var(--white);
  border-radius: 1.5rem 1.5rem 1.5rem 0;
  text-align: center;
  overflow: hidden;
  @include trans-ease-out();
  figure {
    margin: 0 0 2rem 0;
    i {
      position: relative;
      display: block;
      width: 90px;
      height: 90px;
      margin: 0 auto;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        transition: 0.2s ease-out;
      }
      .hover {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
      }
    }
  }
  .goal-it-body {
    min-height: 50px;
    h3 {
      color: #d7c926;
      font-size: 1.25rem;
      font-weight: 500;
      margin: 0 0 1.5rem 0;
      text-transform: uppercase;
    }
    p {
      color: #ffffff;
      margin: 0;
    }
  }
  .goal-it-nav {
    text-align: center;
    .btn-more {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 150px;
      color: var(--white);
      font-size: 0.875rem;
      padding: 0.65rem 1.5rem;
      margin: 0 auto;
      background-color: transparent;
      border: 1px solid var(--white);
      border-radius: 50px 50px 50px 0;
      box-shadow: none;
      .icon-right {
        display: inline-block;
        width: 30px;
        height: 16px;
        margin-left: 0.5rem;
        background-image: url(../images/right-icon-wt.png);
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  &:hover {
    background-color: var(--white);
    figure {
      i {
        img {
          transform: translate(-50%, -50%) scale(1.5);
          opacity: 0;
        }
        .hover {
          transform: translate(-50%, -50%) scale(1);
          opacity: 1;
        }
      }
    }
    .goal-it-body {
      h3 {
        color: var(--bk-grade-550);
      }
    }
    .goal-it-nav {
      text-align: center;
      .btn-more {
        color: var(--bk-grade-950);
        border: 1px solid var(--bk-grade-950);
        .icon-right {
          background-image: url(../images/right-icon-bk.png);
          background-position: center;
          background-repeat: no-repeat;
          animation: iconMoveRight 1s infinite;
        }
      }
    }
  }
  .goal-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 2.5rem 1.5rem 1.5rem;
    background-color: var(--white);
    border-radius: 50px 50px 50px 0;
    text-align: left;
    opacity: 0;
    transform: translateY(-25px);
    @include trans-ease-out();
    h3 {
      color: var(--bk-grade-950);
      font-size: 1.25rem;
      font-weight: 500;
      margin: 0 0 1.5rem 0;
      text-transform: uppercase;
    }
    p {
      color: var(--bk-grade-950);
      margin: 0 0 1rem 0;
    }
  }
  &:hover {
    .goal-overlay {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.about-graphics {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 690px;
  img {
    width: 100%;
  }
}

.values-sec {
  position: relative;
  padding: 2.5rem 0 2.5rem;
  background-image: url(../images/pattern.png);
  overflow: hidden;
}

.values-gear {
  position: absolute;
  left: 0;
  top: 50%;
  width: 850px;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  animation: leftGearRotation 50s linear infinite;
  img {
    width: 100%;
  }
}

.values-wrapper {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 10000px;
    height: 100%;
    background-color: #e75824;
    background-image: url(../images/pattern.png);
    z-index: 0;
  }
  .values-bg-rt {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 690px;
    z-index: 5;
    img {
      width: 100%;
    }
  }
}

.values-cover {
  position: relative;
  max-width: 90%;
  padding: 4rem 0 4rem 7rem;
  margin-left: auto;
  background-color: #e75824;
  background-image: url(../images/pattern.png);
  border-radius: 4rem 0 0 4rem;
  overflow: hidden;
}

.values-intro {
  position: relative;
  margin-bottom: 3.75rem;
  z-index: 10;
  h2 {
    color: var(--white);
    font-size: 1.875rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  p {
    color: var(--white);
  }
}

.values-goals {
  position: relative;
  max-width: 675px;
  z-index: 10;
  .values-hd {
    position: absolute;
    left: -1rem;
    bottom: 4rem;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    h3 {
      color: rgba($color: #ffffff, $alpha: 0.18);
      font-size: 3.75rem;
      font-weight: 500;
      margin: 0;
      text-transform: uppercase;
    }
  }
}

.values-item {
  position: relative;
  min-height: calc(100% - 4rem);
  padding: 2.5rem 2.5rem 2.5rem;
  margin-bottom: 4rem;
  border: 1px solid var(--white);
  border-radius: 1.5rem 1.5rem 0 1.5rem;
  text-align: center;
  overflow: hidden;
  @include trans-ease-out();
  figure {
    margin: 0 0 2rem 0;
    i {
      position: relative;
      display: block;
      width: 90px;
      height: 90px;
      margin: 0 auto;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        transition: 0.2s ease-out;
      }
      .hover {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
      }
    }
  }
  .values-it-body {
    min-height: 50px;
    h3 {
      color: #d7c926;
      font-size: 1.25rem;
      font-weight: 500;
      margin: 0 0 1.5rem 0;
      text-transform: uppercase;
    }
    p {
      color: #ffffff;
      margin: 0;
    }
  }
  .values-it-nav {
    text-align: center;
    .btn-more {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 150px;
      color: var(--white);
      font-size: 0.875rem;
      padding: 0.65rem 1.5rem;
      margin: 0 auto;
      background-color: transparent;
      border: 1px solid var(--white);
      border-radius: 50px 50px 0 50px;
      box-shadow: none;
      .icon-right {
        display: inline-block;
        width: 30px;
        height: 16px;
        margin-left: 0.5rem;
        background-image: url(../images/right-icon-wt.png);
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  &:hover {
    background-color: var(--white);
    figure {
      i {
        img {
          transform: translate(-50%, -50%) scale(1.5);
          opacity: 0;
        }
        .hover {
          transform: translate(-50%, -50%) scale(1);
          opacity: 1;
        }
      }
    }
    .values-it-body {
      h3 {
        color: var(--bk-grade-550);
      }
    }
    .values-it-nav {
      text-align: center;
      .btn-more {
        color: var(--bk-grade-950);
        border: 1px solid var(--bk-grade-950);
        .icon-right {
          background-image: url(../images/right-icon-bk.png);
          animation: iconMoveRight 1s infinite;
        }
      }
    }
  }
  .values-overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 2rem 1.5rem 1rem;
    background-color: var(--white);
    border-radius: 50px 50px 0 50px;
    text-align: left;
    opacity: 0;
    transform: translateY(-25px);
    @include trans-ease-out();
    h3 {
      color: var(--bk-grade-950);
      font-size: 1.25rem;
      font-weight: 500;
      margin: 0 0 0.5rem 0;
      text-transform: uppercase;
    }
    p {
      color: var(--bk-grade-950);
      margin: 0 0 1rem 0;
    }
  }
  &:hover {
    .values-overlay {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

.solution-sec {
  position: relative;
  padding: 2.5rem 0 2.5rem;
  background-image: url(../images/pattern.png);
  overflow: hidden;
}

.solution-gear {
  position: absolute;
  right: 0;
  top: 50%;
  width: 850px;
  transform: translate(50%, -50%);
  opacity: 0.2;
  animation: rightGearRotation 50s linear infinite;
  img {
    width: 100%;
  }
}

.solution-wrapper {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    right: 50%;
    top: 0;
    width: 10000px;
    height: 100%;
    background-color: #1a699d;
    background-image: url(../images/pattern.png);
  }
}

.solution-cover {
  position: relative;
  max-width: 90%;
  padding: 4rem 7rem 4rem 0;
  background-color: #1a699d;
  background-image: url(../images/pattern.png);
  border-radius: 0 4rem 4rem 0;
  overflow: hidden;
}

.solution-intro {
  position: relative;
  margin-bottom: 3.75rem;
  z-index: 10;
  h2 {
    color: var(--white);
    font-size: 1.875rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  p {
    color: var(--white);
  }
}

.solution-goals {
  position: relative;
  z-index: 10;
  .solution-hd {
    position: absolute;
    right: -2rem;
    bottom: 4rem;
    transform: rotate(-90deg) translate(100%, 60px);
    transform-origin: right bottom;
    h3 {
      color: rgba($color: #ffffff, $alpha: 0.18);
      font-size: 3.75rem;
      font-weight: 500;
      margin: 0;
      text-transform: uppercase;
    }
  }
}

.solution-item {
  position: relative;
  max-width: 335px;
  min-height: calc(100% - 4rem);
  padding: 2.5rem 2.5rem 2.5rem;
  margin-bottom: 4rem;
  border: 1px solid var(--white);
  border-radius: 1.5rem 1.5rem 1.5rem 0;
  text-align: center;
  @include trans-ease-out();
  figure {
    margin: 0 0 2rem 0;
    i {
      position: relative;
      display: block;
      width: 90px;
      height: 90px;
      margin: 0 auto;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        transition: 0.2s ease-out;
      }
      .hover {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
      }
    }
  }
  .solution-it-body {
    min-height: 70px;
    margin-bottom: 1rem;
    h3 {
      color: #96d4fc;
      font-size: 1.125rem;
      font-weight: 500;
      margin: 0 0 1.5rem 0;
      text-transform: uppercase;
    }
    p {
      color: #ffffff;
      margin: 0;
    }
  }
  .solution-it-nav {
    text-align: center;
    .btn-more {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 150px;
      color: var(--white);
      font-size: 0.875rem;
      padding: 0.65rem 1.5rem;
      margin: 0 auto;
      background-color: transparent;
      border: 1px solid var(--white);
      border-radius: 50px 50px 50px 0;
      box-shadow: none;
      .icon-right {
        display: inline-block;
        width: 30px;
        height: 16px;
        margin-left: 0.5rem;
        background-image: url(../images/right-icon-wt.png);
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  &:hover {
    background-color: var(--white);
    figure {
      i {
        img {
          transform: translate(-50%, -50%) scale(1.5);
          opacity: 0;
        }
        .hover {
          transform: translate(-50%, -50%) scale(1);
          opacity: 1;
        }
      }
    }
    .solution-it-body {
      h3 {
        color: var(--bk-grade-550);
      }
    }
    .solution-it-nav {
      text-align: center;
      .btn-more {
        color: var(--bk-grade-950);
        border: 1px solid var(--bk-grade-950);
        .icon-right {
          background-image: url(../images/right-icon-bk.png);
          background-position: center;
          background-repeat: no-repeat;
          animation: iconMoveRight 1s infinite;
        }
      }
    }
  }
}

.industries-sec {
  position: relative;
  padding: 2.5rem 0 2.5rem;
  background-image: url(../images/pattern.png);
  overflow: hidden;
}

.industries-gear {
  position: absolute;
  left: 0;
  top: 50%;
  width: 850px;
  transform: translate(-50%, -50%);
  opacity: 0.2;
  animation: leftGearRotation 50s linear infinite;
  img {
    width: 100%;
  }
}

.industries-wrapper {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 10000px;
    height: 100%;
    background-color: #e75824;
    background-image: url(../images/pattern.png);
    z-index: 0;
  }
}

.industries-cover {
  position: relative;
  max-width: 90%;
  padding: 4rem 0 4rem 7rem;
  margin-left: auto;
  background-color: #e75824;
  background-image: url(../images/pattern.png);
  border-radius: 4rem 0 0 4rem;
  overflow: hidden;
}

.industries-intro {
  position: relative;
  margin-bottom: 3.75rem;
  z-index: 10;
  h2 {
    color: var(--white);
    font-size: 1.875rem;
    font-weight: 500;
    text-transform: uppercase;
  }
  p {
    color: var(--white);
  }
}

.industries-goals {
  position: relative;
  z-index: 10;
  .industries-hd {
    position: absolute;
    left: -1rem;
    bottom: 4rem;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    h3 {
      color: rgba($color: #ffffff, $alpha: 0.18);
      font-size: 3.75rem;
      font-weight: 500;
      margin: 0;
      text-transform: uppercase;
    }
  }
}

.industries-item {
  position: relative;
  max-width: 335px;
  min-height: calc(100% - 4rem);
  padding: 2.5rem 2.5rem 2.5rem;
  margin: 0 auto 4rem;
  border: 1px solid var(--white);
  border-radius: 1.5rem 1.5rem 0 1.5rem;
  text-align: center;
  @include trans-ease-out();
  figure {
    margin: 0 0 2rem 0;
    i {
      position: relative;
      display: block;
      width: 90px;
      height: 90px;
      margin: 0 auto;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        transition: 0.2s ease-out;
      }
      .hover {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
      }
    }
  }
  .industries-it-body {
    min-height: 50px;
    margin-bottom: 1rem;
    h3 {
      color: var(--white);
      font-size: 1.25rem;
      font-weight: 500;
      margin: 0 0 1.5rem 0;
      text-transform: uppercase;
    }
    p {
      color: #ffffff;
      margin: 0;
    }
  }
  .industries-it-nav {
    text-align: center;
    .btn-more {
      display: flex;
      align-items: center;
      justify-content: center;
      max-width: 150px;
      color: var(--white);
      font-size: 0.875rem;
      padding: 0.65rem 1.5rem;
      margin: 0 auto;
      background-color: transparent;
      border: 1px solid var(--white);
      border-radius: 50px 50px 0 50px;
      box-shadow: none;
      .icon-right {
        display: inline-block;
        width: 30px;
        height: 16px;
        margin-left: 0.5rem;
        background-image: url(../images/right-icon-wt.png);
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
  &:hover {
    background-color: var(--white);
    figure {
      i {
        img {
          transform: translate(-50%, -50%) scale(1.5);
          opacity: 0;
        }
        .hover {
          transform: translate(-50%, -50%) scale(1);
          opacity: 1;
        }
      }
    }
    .industries-it-body {
      h3 {
        color: var(--bk-grade-550);
      }
    }
    .industries-it-nav {
      text-align: center;
      .btn-more {
        color: var(--bk-grade-950);
        border: 1px solid var(--bk-grade-950);
        .icon-right {
          background-image: url(../images/right-icon-bk.png);
          background-position: center;
          background-repeat: no-repeat;
          animation: iconMoveRight 1s infinite;
        }
      }
    }
  }
}

.capab-sec {
  position: relative;
  padding: 2.5rem 0 5rem;
  background-image: url(../images/pattern.png);
}

.capabalities-hd {
  margin-bottom: 3rem;
  text-align: center;
  h3 {
    color: #0b639e;
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }
}

.capab-item {
  position: relative;
  min-height: calc(100% - 0.5rem);
  padding: 2.5rem 1.5rem 1rem;
  margin-bottom: 0.5rem;
  background-color: var(--white);
  border-radius: 2.5rem;
  &.capab-blue {
    background-color: var(--color-100);
    border-bottom-left-radius: 0;
  }
  &.capab-green {
    background-color: var(--color-200);
    border-bottom-left-radius: 0;
  }
  &.capab-orange {
    background-color: var(--color-300);
    border-bottom-right-radius: 0;
  }
  &.capab-yellow {
    background-color: var(--color-400);
    border-bottom-right-radius: 0;
  }
  .capab-hd {
    position: relative;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100px;
      height: 5px;
      background-color: rgba($color: #ffffff, $alpha: 0.5);
    }
    h3 {
      color: var(--white);
      font-size: 1.25rem;
      font-weight: 500;
      margin: 0;
    }
  }
  .capab-body {
    ul {
      li {
        position: relative;
        color: var(--white);
        padding: 0 0 0 1rem;
        margin-bottom: 0.75rem;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          top: 8px;
          width: 6px;
          height: 6px;
          background-color: var(--white);
          border-radius: 50%;
        }
      }
    }
  }
}

.footer-sec {
  position: relative;
  padding: 4rem 0 2rem;
  background-color: #293034;
  background-image: url(../images/pattern.png);
  overflow: hidden;
  .col-contact {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .col-location {
    flex: 0 0 30%;
    max-width: 30%;
  }
  .col-group {
    flex: 0 0 40%;
    max-width: 40%;
  }
}

.ft-contact-hd {
  margin-bottom: 4rem;
  text-align: center;
  h3 {
    color: var(--white);
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    text-transform: uppercase;
  }
}

.footer-con-cover {
  .footer-con-hd {
    padding: 0.65rem 0.5rem;
    max-width: 225px;
    margin: 0 auto 2rem;
    border: 1px solid rgba($color: #ffffff, $alpha: 0.25);
    border-radius: 50px;
    text-align: center;
    h3 {
      color: var(--white);
      font-size: 1.25rem;
      font-weight: 500;
      margin: 0;
    }
  }
  .footer-con-body {
    padding: 2rem 0 2rem;
    margin-bottom: 1rem;
    border-top: 1px solid rgba($color: #ffffff, $alpha: 0.25);
    border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.25);
  }
  .footer-con-item {
    h3 {
      color: var(--white);
      font-size: 1.125rem;
      font-weight: 500;
      margin: 0 0 1rem 0;
      text-transform: uppercase;
      text-align: center;
    }
    p {
      color: var(--white);
      font-size: 0.875rem;
      padding: 0.5rem 0.25rem;
      margin: 0;
      border: 1px solid rgba($color: #ffffff, $alpha: 0.25);
      border-radius: 50px;
      text-align: center;
      a {
        color: var(--white);
        &:hover {
          color: #e54e24;
        }
      }
    }
  }
  .footer-chat {
    text-align: center;
    .btn-chat {
      color: var(--white);
      box-shadow: none;
      text-transform: capitalize;
      .chat-icon {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 46px;
        height: 46px;
        margin-right: 1rem;
        background-color: var(--white);
        border-radius: 50%;
        @include trans-ease-out();
        animation: iconPulse 1.5s ease-in-out infinite;
        img {
          position: absolute;
          left: 50%;
          top: 50%;
          width: 100%;
          transform: translate(-50%, -50%);
        }
      }
      .chat-label {
        display: inline-block;
        vertical-align: middle;
      }
      &:hover {
        .chat-icon {
          background-color: #fab13c;
        }
      }
    }
  }
}

.ft-group-cover {
  .ft-group-hd {
    padding: 0.65rem 0.5rem;
    margin: 0 auto 2rem;
    border: 1px solid rgba($color: #ffffff, $alpha: 0.25);
    border-radius: 50px;
    text-align: center;
    h3 {
      color: var(--white);
      font-size: 1.25rem;
      font-weight: 500;
      margin: 0;
    }
  }
  .ft-group-item {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    border: 1px solid rgba($color: #ffffff, $alpha: 0.25);
    &.group-left {
      border-radius: 1.5rem 0 0 1.5rem;
    }
    &.group-right {
      border-radius: 0 1.5rem 1.5rem 0;
    }
    i {
      position: relative;
      display: block;
      width: 200px;
      margin: 0;
      img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        @include trans-ease-out();
        &.hover {
          transform: translate(-50%, -50%) scale(1.5);
          opacity: 0;
        }
      }
    }
    &:hover {
      i {
        img {
          opacity: 0;
          &.hover {
            transform: translate(-50%, -50%) scale(1);
            opacity: 1;
          }
        }
      }
    }
  }
}

.footer-location {
  .footer-loc-hd {
    padding: 0.65rem 0.5rem;
    max-width: 225px;
    margin: 0 auto 2rem;
    border: 1px solid rgba($color: #ffffff, $alpha: 0.25);
    border-radius: 50px;
    text-align: center;
    h3 {
      color: var(--white);
      font-size: 1.25rem;
      font-weight: 500;
      margin: 0;
    }
  }
  .footer-address {
    margin-bottom: 1.5rem;
    text-align: center;
    p {
      color: rgba($color: #ffffff, $alpha: 0.5);
      font-size: 0.875rem;
      font-weight: 500;
      margin: 0;
    }
  }
  .footer-map {
    //height: 120px;
    position:relative;
    left: 4px;
    padding-bottom: 15px;
    
    iframe {
      width: 40%;
      //height: 80%;
      position: relative;
        left: 27px;
    }
  }
}
.copy-cover1 {
  position: relative;
  padding: 1px 0 0 0;
  margin: 1px 0 0 0;
 
}

.copy-cover {
  position: relative;
  padding: 2.5rem 0 0 0;
  margin: 2.5rem 0 0 0;
  border-top: 1px solid rgba($color: #ffffff, $alpha: 0.25);
}

.nav-social {
 position: absolute;
 top: 10px;
 left: 80px;

  .sm-item {
    display: inline-block;
    + .sm-item {
      margin-left: 1rem;
    }
    .sm-link {
      position: relative;
      display: block;
      color: #e54e24;
      width: 36px;
      height: 36px;
      background-color: var(--white);
      border: 0;
      border-radius: 50%;
      text-align: center;
      text-decoration: none;
      &::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 42px;
        height: 42px;
        border: 1px solid #e54e24;
        border-radius: 50%;
        transform: translate(-50%, -50%) scale(1.5);
        opacity: 0;
        @include trans-ease-out();
      }
      .fa {
        position: absolute;
        left: 50%;
        top: 50%;
        font-size: 1.25rem;
        transform: translate(-50%, -50%);
        z-index: 5;
      }
      &:hover {
        color: var(--white);
        background-color: #e54e24;
        &::before {
          transform: translate(-50%, -50%) scale(1);
          opacity: 1;
        }
      }
    }
  }
}

.copyright {
  color: var(--white);
  font-size: 1rem;
  margin: 0 auto;
  text-align: center;
}

.mCSB_outside + .mCSB_scrollTools {
  right: -10px;
}
.mCS-light-thick.mCSB_scrollTools .mCSB_draggerRail,
.mCS-dark-thick.mCSB_scrollTools .mCSB_draggerRail {
  width: 4px;
  background-color: transparent;
  background-color: transparent;
  border-radius: 0px;
}
.mCS-light-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCS-dark-thick.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 4px;
  background-color: val(--bk-grade-400);
  background-color: rgb(112, 112, 112);
  border-radius: 2px;
}
.mCS-light-thick.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-light-thick.mCSB_scrollTools
  .mCSB_dragger.mCSB_dragger_onDrag
  .mCSB_dragger_bar {
  background-color: val(--bk-grade-400);
  background-color: rgb(112, 112, 112);
}
.mCSB_scrollTools .mCSB_dragger {
  height: 75px !important;
}
